<div class="card text-center mt-4">
  <div class="card-header">
    <h2>Forum</h2>
  </div>
  <%= render 'article' %>
  <div class="card-footer text-muted">
    <a href=<%= new_article_path() %> class="btn btn-success"> New</a>
  </div>
</div>
