<div id="page-content">
  <div class="container-fluid" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">HS2Gaming</h1>
      <p class="lead">Welcome to HS2Gaming!</p>
      <hr class="my-4">
      <p>The Website is still under construction but please leave some input in our forums!</p>
      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
