<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Landing Page </title>
  </head>
  <body>
    <h1> THIS GAME IS CURRENTLY UNDER MAJOR DEVELOPMENT! </h1>
    <h2> Check Out Our Forums In The Meantime</h2>
    <%= link_to 'Forums', articles_path %> |
    <%= link_to 'About', about_path %>
  </body>
</html>
