/*
html {
  background-color: #031f29;
}

h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}
div {
  height: auto;
  width: auto;
}



tr {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
}

table {
  width: 100%;
}

a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  width: auto;
  margin:0 auto;
  padding: 1px 1px 1px 1px;
  border: 2px solid white;
  border-radius: 2px;
}

body {
  font-family: verdana;
  font-weight: bold;
  width: auto;
  height: auto;
  margin: auto auto;
  background-color: #E03704;
} */
