
html {
  background-color: #031f29;
}

h1, p {
  text-align: center;
  color: white;
  font-size: 40px;
}

a {
  color: white;
  font-size: 40px;
  text-decoration: none;
  width: 200px;
  margin:0 auto;
  padding: 5px 5px 5px 5px;
  border: 7px solid white;
  border-radius: 5px;
}

body {
  font-family: verdana;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 40px;
  width: 1000px;
  margin: 420px auto;
  background-color: #E03704;
  padding: 20px 20px 20px 20px;
  border: 7px solid;
  border-color: #ffffff;
  border-radius: 9px;
}
